<?xml version="1.0" encoding="UTF-8"?>
<!-- Конфиг проекта -->
<project>
	<db>
		<!-- Имя Базы Данных -->
		<name>db_name</name>

		<!-- Имя хоста. Должно резольвиться. -->
		<host>localhost</host>
		<!-- Дефолтный порт для Postgres 5432 -->
		<port>5432</port>

		<!-- Пользователь БД -->
		<login>user_name</login>
		<!-- Пароль -->
		<pass>pass</pass>
	</db>
</project>